DUMMY1
DUMMY2
DUMMY3
logs
__pycache__
.ipynb_checkpoints
.*.swp

build
*.c
monotonic_align
/.vs/vits/FileContentIndex


.vscode
vits_toolkit.code-workspace
venv
thesis
model
output
doc
wavs
configs
filelists